.doctor_logo{
    background-color: #fafafa;
}

.doctor_logo .navbar-brand {
    color: #000;
}

.edoctor_slider img{
    height: 400px;
}

@media only screen and (max-width: 600px){
    a.navbar-brand {
        padding: 20px;
    }
}